<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><roundcube:object name="pagetitle" /></title>
<meta name="Robots" content="noindex,nofollow" />
<!-- samoilov 28.04.2019 add css -->
<link rel="stylesheet" href="/styles/styles.css">
<link rel="stylesheet" href="/deps/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="plugins/jqueryui/themes/elastic/jquery-ui.css">
<roundcube:include file="/includes/links.html" />
</head>
<body class="task-login">
<div id="taskbar"></div>
<roundcube:object name="message" id="messagestack" />
<div id="layout">
<div class="content selected no-navbar" role="main">
<div id="login-form-reset-passwd">
<!--<div class="boxtitle"><roundcube:label name="welcome" /></div>-->
<!-- samoilov 28.04.2019 add message div -->
<img style="top:0px" src="skins/elastic/images/logo-white.svg?s=1555337460" data-src-small="skins/elastic/images/logo-white.svg?s=1555337460" id="logo" alt="Logo" />
<p style="margin-bottom: 1.5rem; font-size: 20px;font-weight: bold;"><roundcube:label name="forgot_password.forgot_passwordform" /></p>

<div class="boxcontent">

<form name="form" action="./?_task=settings&_action=plugin.new_password_do" method="post">
	<input type=hidden name="_t" value="<roundcube:var name="request:_t" />">
<table style="    margin-left: auto;    margin-right: auto;">
	<tbody>
	<tr>
		<td class="title">
			<!-- NOTE: Labels will not appear on this form unless you either: 1) add labels to the appropriate localization file at 
	   		RC_INSTALL/program/localization/YOUR_LANGUAGE/labels.inc; or 2) dictate manually below. Best option for accessibility
			is to add labels for other languages unless you know for certain only one language will be needed for your users. -->

			<label for="_new_password"><roundcube:label name="forgot_password.new_password" /></label>:
			<!--<label for="_new_password">Select a new password</label>:-->
		</td>
		<td>
			<input type="password" size="35" maxlength="320" id="_new_password" name="_new_password">
		</td>
	</tr>
	<tr>
		<td class="title">
			<label for="_new_password_confirmation"><roundcube:label name="forgot_password.new_password_confirmation" /></label>:
			<!-- <label for="_new_password_confirmation">Confirm your new password</label>:-->
		</td>
		<td>
			<input type="password" size="35" maxlength="320" id="_new_password_confirmation" name="_new_password_confirmation">
		</td>
	</tr>
	</tbody>
</table>
<p>
    <!--<label for="_pass_requirements"><roundcube:label name="forgot_password.password_weakness_check_failed" /></label>-->
				<table width="100%" align="left" border="0" cellspacing="7">
			<tr><td colspan="1" align="center"><em><br />Придумайте или сгенерируйте сложный пароль!</em></td></tr>
			<tr><td colspan="2"><small>Длина пароля должна быть как минимум 7 символов.</small>
			<br><small>Не используйте одинаковые цифры либо простые последовательности цифр (например: bt22222, g123456).<br />
			</small></td></tr>
			<tr><td align="center"><small>Допустимо использовать следующие символы:</small>
			<small>ABC...XYZ abc...xyz 123...890 !@#$%^&*_()</small></td></tr>
			</table>
</p>
<p style="text-align:center;">
<!--samoilov 28.04.2019 change buttons appearance -->
<!--<input type="submit" class="button mainaction" value="<roundcube:label name='forgot_password.forgot_passwordresetpw' />" />-->
<input type="submit" class="button mainaction submit btn btn-primary" value="<roundcube:label name='forgot_password.forgot_passwordresetpw' />" />
<span>&nbsp;&nbsp;</span>
<!--<input type="button" onclick="document.location.href='./'" class="button" value="<roundcube:label name='forgot_password.forgot_passwordexit' />" />-->
<input type="button" class="button mainaction submit btn btn-primary" onclick="document.location.href='./'" value="<roundcube:label name='forgot_password.forgot_passwordexit' />" />
</p>

</form>
</div>
</div>

</div>
</div>
</body>
</html>
